@import "https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700";

body {
    padding:50px;
    font:14px/1.5 Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#777;
    font-weight:300
}

h1,h2,h3,h4,h5,h6 {
    color:#222;
    margin:0 0 20px
}

p,ul,ol,table,pre,dl {
    margin:0 0 20px
}

h1,h2,h3 {
    line-height:1.1
}

h1 {
    font-size:28px
}

h2 {
    color:#393939
}

h3,h4,h5,h6 {
    color:#494949
}

a {
    color:#39c;
    font-weight:400;
    text-decoration:none
}

a small {
    font-size:11px;
    color:#777;
    margin-top:-.6em;
    display:block
}

.wrapper {
    width:860px;
    margin:0 auto
}

blockquote {
    border-left:1px solid #e5e5e5;
    margin:0;
    padding:0 0 0 20px;
    font-style:italic
}

pre, code {
    font:12px Menlo, Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono",monospace;
}

pre {
	 margin:1em 0;
	 font-size:12px;
	 background-color:#eee;
	 border:1px solid #ddd;
	 padding:5px;
	 line-height:1.5em;
	 color:#444;
	 overflow:auto;
	 -webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;
	 -webkit-border-radius:3px;
	 -moz-border-radius:3px;border-radius:3px;
}

pre code {
	 padding:0;
	 font-size:12px;
	 background-color:#eee;
	 border:none;
}

code {
	 font-size:12px;
	 background-color:#f8f8ff;
	 color:#444;
	 padding: 1px 4px 1px 4px ;
	 border:1px solid #dedede;
     -webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;
	 -webkit-border-radius:3px;
	 -moz-border-radius:3px;border-radius:3px;
}

a code, a:link code, a:visited code {
    color:#4183c4;
}

table {
    width:100%;
    border-collapse:collapse
}

th,td {
    text-align:left;
    padding:5px 10px;
    border-bottom:1px solid #e5e5e5
}

dt {
    color:#444;
    font-weight:700
}

th {
    color:#444
}

img {
    max-width:100%
}

header {
    width:270px;
    float:left;
    position:fixed
}

header ul {
    list-style:none;
    height:40px;
    padding:0;
    background:#eee;
    background:-moz-linear-gradient(top,#f8f8f8 0%,#ddd 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8f8f8),color-stop(100%,#ddd));
    background:-webkit-linear-gradient(top,#f8f8f8 0%,#ddd 100%);
    background:-o-linear-gradient(top,#f8f8f8 0%,#ddd 100%);
    background:-ms-linear-gradient(top,#f8f8f8 0%,#ddd 100%);
    background:linear-gradient(top,#f8f8f8 0%,#ddd 100%);
    border-radius:5px;
    border:1px solid #d2d2d2;
    box-shadow:inset #fff 0 1px 0,inset rgba(0,0,0,0.03) 0 -1px 0;
    width:270px
}

header li {
    width:89px;
    float:left;
    border-right:1px solid #d2d2d2;
    height:40px
}

header ul a {
    line-height:1;
    font-size:11px;
    color:#999;
    display:block;
    text-align:center;
    padding-top:6px;
    height:40px
}

strong {
    color:#222;
    font-weight:700
}

header ul li + li {
    width:88px;
    border-left:1px solid #fff
}

header ul li + li + li {
    border-right:none;
    width:89px
}

header ul a strong {
    font-size:14px;
    display:block;
    color:#222
}

section {
    width:500px;
    float:right;
    padding-bottom:50px
}

small {
    font-size:11px
}

hr {
    border:0;
    background:#e5e5e5;
    height:1px;
    margin:0 0 20px
}

footer {
    width:270px;
    float:left;
    position:fixed;
    bottom:50px
}

.download {
    height:40px;
    padding:0;
    margin-bottom:10px;
    background:#eee;
    background:-moz-linear-gradient(top,#f8f8f8 0%,#ddd 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8f8f8),color-stop(100%,#ddd));
    background:-webkit-linear-gradient(top,#f8f8f8 0%,#ddd 100%);
    background:-o-linear-gradient(top,#f8f8f8 0%,#ddd 100%);
    background:-ms-linear-gradient(top,#f8f8f8 0%,#ddd 100%);
    background:linear-gradient(top,#f8f8f8 0%,#ddd 100%);
    border-radius:5px;
    border:1px solid #d2d2d2;
    box-shadow:inset #fff 0 1px 0,inset rgba(0,0,0,0.03) 0 -1px 0;
    width:270px
}

.download div {
    width:89px;
    float:left;
    border-right:1px solid #d2d2d2;
    height:40px
}

.download a {
    line-height:1;
    font-size:11px;
    color:#999;
    display:block;
    text-align:center;
    padding-top:6px;
    height:40px
}

.download div + div {
    width:88px;
    border-left:1px solid #fff
}

.download div + div + div {
    border-right:none;
    width:89px
}

.download a strong {
    font-size:14px;
    display:block;
    color:#222
}

.btn_title {
    font-size: 17px;
/*    font-weight: bold;*/
    margin-bottom: 10px;
}

p.view {
/*    display: block;*/
    background: url(../img/github-icon.png) no-repeat;
    background-size: 32px 32px;
    height: 32px;
    padding-left: 40px;

}

/* REMOVE */
#linux32, #linux64, #linux32 strong, #linux64 strong, #linux32 a, #linux64 a {
    color: #999;
}
/* ------ */

@media print,screen and (max-width: 960px) {
    div.wrapper {
        width:auto;
        margin:0
    }

    header,section,footer {
        float:none;
        position:static;
        width:auto
    }

    header {
        padding-right:320px
    }

    section {
        border:1px solid #e5e5e5;
        border-width:1px 0;
        padding:20px 0;
        margin:0 0 20px
    }

    .buttons {
        display:inline-block;
        width:550px
    }
    
    .buttons > .left {
        float: left;
    }
    
    .buttons > .right {
        float: right;
    }
}

@media print,screen and (max-width: 720px) {
    body {
        word-wrap:break-word
    }

    header {
        padding:0
    }

    header ul,header p.view {
        position:static
    }

    pre,code {
        word-wrap:normal
    }

    .buttons {
        display:inline-block;
        width:auto
    }

    .buttons > .left {
        clear: both;
    }
    
    .buttons > .right {
        clear: both;
    }
}

@media print,screen and (max-width: 480px) {
    body {
        padding:15px
    }

    @media print {
    body {
        padding:.4in;
        font-size:12pt;
        color:#444
    }
        

}